@import "normalize.css";

/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(180, 29%, 50%);
  --color-light: hsl(0, 0%, 100%);
  --color-dark: hsl(180, 14%, 20%);
  --color-gray-1: hsl(180, 52%, 96%);
  --color-gray-2: hsl(180, 31%, 95%);
  --color-gray-3: hsl(180, 8%, 72%);
  --color-gray-4: hsl(180, 8%, 52%);

  font-size: 15px;
  --scale: 1.5;
  --font-size-base: 1rem;
  --font-size-sm: calc(var(--font-size-base) / var(--scale));
  --font-size-md: calc(var(--font-size-base) * var(--scale));
  --font-weight-normal: 500;
  --font-weight-bold: 700;

  --border-radius: 6px;
  --shadow: 0 4px 12px 4px hsla(180, 29%, 50%, 0.25);
  --tagslist-height: 75px;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--scale);
  color: var(--color-dark);
  background: var(--color-gray-1);
}

/* COMPONENTS */

.header {
  height: 150px;
  background: url("/images/bg-header-mobile.svg"), var(--color-primary);
}

.wrapper {
  width: 100%;
  padding: 0 2rem 3rem;
  margin-top: calc(-1 * (var(--tagslist-height) / 2));
}

/* Selected Tags - Rename to match TagsList? */

.selected-tags {
  opacity: 0;
  display: flex;
  min-height: var(--tagslist-height);
  flex-wrap: wrap;
  padding: 1rem 2rem;
  background: var(--color-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  list-style: none;
  margin-bottom: 3rem;
  transition: all 0.3s ease;
  transform: translateY(-1rem);
}

.selected-tags.visible {
  opacity: 1;
  transform: translateY(0);
}

.selected-tag {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 4px 0 0 4px;
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 1;
  background: var(--color-gray-2);
  color: var(--color-primary);
  cursor: pointer;
}

.selected-tag__remove {
  display: block;
  height: 100%;
  width: 100%;
  background: url("/images/icon-remove.svg") var(--color-primary) no-repeat
    center center;
  padding: 1rem;
  margin-left: 0.5rem;
  border-radius: 0 4px 4px 0;
  transition: background 0.3s ease, color 0.3s ease;
}

.selected-tag:hover .selected-tag__remove {
  background-color: var(--color-dark);
}

/* Job Listing */

.job-listing {
  width: 100%;
  margin: 3rem 0;
  padding: 1.5rem;
  background: var(--color-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.job-listing--featured {
  border-left: 8px solid var(--color-primary);
}

.job-listing__logo {
  width: 50px;
  height: 50px;
  position: relative;
  top: calc(-1 * (25px + 1.5rem));
}

.job-listing__details {
  margin-top: calc(-1 * (25px + 1.5rem));
  padding: 0.5rem 0;
}

.job-listing__details-row {
  display: flex;
}

.job-listing__company {
  margin-right: 1rem;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.job-listing__status-tag {
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem 0.25rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  line-height: 1;
  border-radius: 20px;
  background: var(--color-primary);
  color: var(--color-light);
}

.job-listing__status-tag--dark {
  background: var(--color-dark);
}

.job-listing__tags,
.job-listing__status-tags {
  list-style: none;
  display: flex;
}

.job-listing__position {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

.job-listing__metadata {
  color: var(--color-gray-4);
}

/* Job Tags */

.job-listing__tags {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-gray-3);
  cursor: pointer;
}

.job-listing__tag {
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 1;
  background: var(--color-gray-2);
  color: var(--color-primary);
  transition: background 0.3s ease, color 0.3s ease;
}

.job-listing__tag:hover,
.selected {
  background: var(--color-primary);
  color: var(--color-light);
}

/* Footer */

.footer {
  padding: 1rem 1rem 0;
  font-size: var(--font-size-sm);
  text-align: center;
}

.footer-link {
  color: var(--color-primary);
}

@media only screen and (min-width: 990px) {
  .header {
    background-image: url("/images/bg-header-desktop.svg");
  }
  .wrapper {
    width: 80%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .job-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
  }

  .job-listing__top {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
  .job-listing__logo {
    width: 85px;
    height: 85px;
    position: static;
    margin-right: 1rem;
  }

  .job-listing__details {
    margin-top: 0;
  }

  .job-listing__tags {
    border: 0;
    margin: 0;
    padding-top: 1rem;
  }
}
